# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
ENV/

# IDE
.vscode/
.idea/

# System Files
.DS_Store

# Project specific
chroma_db/
ENGINEERING/
*.log

# Documentation
Documentationz/
https://bnmit2016-my.sharepoint.com/:f:/g/personal/21aiml097_bnmit_in/EqeKfP53zKBGp7WGMrqESm0BinvecpgEvk6sHTvEsB9-rg?e=zqUDw
